/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation for seeding bar */
@keyframes seed {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-seed {
  animation: seed 5s linear infinite;
}
